## Lists_Lesson Excercises

In [ ]:
empty_list = []

list1 = ["mango", "orange", "apple", "lemon", "melon"]
list_length = len(list1)
print(list_length)
first_item = list[0]
middle_item = list[2]
last_item = list[4]

mixed_data_types = ["saminu", 23, 6.5,]

IT_Companies = ["Meta", "Goggle", "IBM", "Microsoft", "Amazon", "Apple", "Oracle"]

print(IT_Companies)



print(len(IT_Companies))

print(IT_Companies[0])
print(IT_Companies[3])
print(IT_Companies[6])


IT_Companies.append("Huawei")

print(IT_Companies)

IT_Companies[1].upper()

Joined_IT_Companies = '#'.join(IT_Companies)
print(Joined_IT_Companies)

IT_Companies.sort()
IT_Companies.sort(reverse=True)

print(IT_Companies)
print(IT_Companies[:3])
print(IT_Companies[5:])

IT_Companies.remove(IT_Companies[0])
IT_Companies.remove(IT_Companies[3])
IT_Companies.remove(IT_Companies[5])

print(IT_Companies)

IT_Companies = []

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

full_stack = (front_end + back_end)
full_stack[5:5] = ["Python", "SQL"]


print(full_stack)

5
['Meta', 'Goggle', 'IBM', 'Microsoft', 'Amazon', 'Apple', 'Oracle']
7
Meta
Microsoft
Oracle
['Meta', 'Goggle', 'IBM', 'Microsoft', 'Amazon', 'Apple', 'Oracle', 'Huawei']
Meta#Goggle#IBM#Microsoft#Amazon#Apple#Oracle#Huawei
['Oracle', 'Microsoft', 'Meta', 'IBM', 'Huawei', 'Goggle', 'Apple', 'Amazon']
['Oracle', 'Microsoft', 'Meta']
['Goggle', 'Apple', 'Amazon']
['Microsoft', 'Meta', 'IBM', 'Goggle', 'Apple']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']
25 26

In [ ]:
print