## Lists_Lesson Excercises

In [ ]:
empty_list = []

list1 = ["mango", "orange", "apple", "lemon", "melon"]
list_length = len(list1)
print(list_length)
first_item = list[0]
middle_item = list[2]
last_item = list[4]

mixed_data_types = ["saminu", 23, 6.5,]

IT_Companies = ["Meta", "Goggle", "IBM", "Microsoft", "Amazon", "Apple", "Oracle"]

print(IT_Companies)



print(len(IT_Companies))

print(IT_Companies[0])
print(IT_Companies[3])
print(IT_Companies[6])


IT_Companies.append("Huawei")

print(IT_Companies)

IT_Companies[1].upper()

Joined_IT_Companies = '#'.join(IT_Companies)
print(Joined_IT_Companies)

IT_Companies.sort()
IT_Companies.sort(reverse=True)

print(IT_Companies)
print(IT_Companies[:3])
print(IT_Companies[5:])

IT_Companies.remove(IT_Companies[0])
IT_Companies.remove(IT_Companies[3])
IT_Companies.remove(IT_Companies[5])

print(IT_Companies)

IT_Companies = []

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

full_stack = (front_end + back_end)
full_stack[5:5] = ["Python", "SQL"]


print(full_stack)



##Exercise2

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
x = min(ages)
y = max(ages)



##Turple Exercise....
emp_tpl = ()
tpl1 = ("Hafsat", "Ameena", "Salaha", "Suwaibat")
tpl2 = ("Yusha'u", "Musa", "Auwal", "Marwan")

siblings = tpl1 + tpl2
num_siblings = len(siblings)

5
['Meta', 'Goggle', 'IBM', 'Microsoft', 'Amazon', 'Apple', 'Oracle']
7
Meta
Microsoft
Oracle
['Meta', 'Goggle', 'IBM', 'Microsoft', 'Amazon', 'Apple', 'Oracle', 'Huawei']
Meta#Goggle#IBM#Microsoft#Amazon#Apple#Oracle#Huawei
['Oracle', 'Microsoft', 'Meta', 'IBM', 'Huawei', 'Goggle', 'Apple', 'Amazon']
['Oracle', 'Microsoft', 'Meta']
['Goggle', 'Apple', 'Amazon']
['Microsoft', 'Meta', 'IBM', 'Goggle', 'Apple']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']
8
('Hafsat', 'Ameena', 'Salaha', 'Suwaibat', "Yusha'u", 'Musa', 'Auwal', 'Marwan')

### We can't modify tuple but we can create another tuple and add the two...

In [ ]:
parents = ("Father", "Mother")
family_members = parents + siblings

In [11]:
#Exercise Level 2 tuple

fruits = ("mangp", "apple")
vegetables = ("carrots", "cabbage")
animal_product = ("meat", "bomo")

food_stuff_tp = fruits + vegetables + animal_product
food_stuff_lt = list(food_stuff_tp)
# For middle items
n =  len(food_stuff_lt)
if n % 2 == 0:
    mid_itm_1 = n // 2 -1
    mid_itm_2 = n // 2
    middle_itms = (food_stuff_lt[mid_itm_1], food_stuff_lt[mid_itm_2])
else:
    mid_itm = n // 2
    middle_itms = (food_stuff_lt[mid_itm])

first_three_itms = food_stuff_lt[:4]
last_three_itms = food_stuff_lt[-3:]
print(food_stuff_lt)
print(middle_itms)
del(food_stuff_lt)

['mangp', 'apple', 'carrots', 'cabbage', 'meat', 'bomo']
('carrots', 'cabbage')